{% paginate customer.addresses by 5 %}

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1>{{ 'customer.addresses.title' | t }}</h1>
          <p><a href="/account">{{ 'customer.account.return' | t }}</a></p>
          <p>
            <button type="button" class="button">{{ 'customer.addresses.add_new' | t }}</button>
          </p>
          <div id="AddressNewForm">
            {% form 'customer_address', customer.new_address %}
              <h2>{{ 'customer.addresses.add_new' | t }}</h2>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                    <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                    <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                    <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                    <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                    <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" class="form-control">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                    <div class="select">
                      <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <div id="AddressProvinceContainerNew" style="display:none">
                      <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                      <div class="select">
                        <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                    <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" class="form-control">
                  </div>
                  
                  <div class="form-group">
                    <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                    <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" class="form-control">
                  </div>

                  {{ form.set_as_default_checkbox }}

                  <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                  <p>
                    <input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}">
                    <button type="button" class="button">{{ 'customer.addresses.cancel' | t }}</button>
                  </p>
                </div>
              </div>

            {% endform %}
            <hr>
          </div>

          {% comment %}
            List all customer addresses with a unique edit form.
            Also add pagination in case they have a large number of addresses
          {% endcomment %}
          {% for address in customer.addresses %}
            <div class="row">
              <div class="col-md-4">
                <div class="address">
                  {% if address == customer.default_address %}
                    <h2>{{ 'customer.addresses.default' | t }}</h2>
                  {% endif %}
                  {{ address | format_address }}
                  <p>
                    <button type="button" class="button address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
                    <button type="button" class="button address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button>
                  </p>
                </div>
              </div>
            </div>

            <div id="EditAddress_{{ address.id }}">
              {% form 'customer_address', address %}
                <h4 class="h2">{{ 'customer.addresses.edit_address' | t }}</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                      <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                      <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                      <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                      <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                      <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                      <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                      <div class="select">
                        <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                      <div class="form-group">
                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <div class="select">
                          <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                      <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                      <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    {{ form.set_as_default_checkbox }}
                    <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                    <p>
                      <input type="submit" class="button mr-1" value="{{ 'customer.addresses.update' | t }}"/><button type="button" class="button address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                    </p>
                  </div>
                </div>
              {% endform %}
              <hr>
            </div>
          {% endfor %}
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endpaginate %}
