<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="content">
          {% form 'create_customer' %}
            <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
            {{ form.errors | default_errors }}
            <div class="form-group">
              <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
              <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus class="form-control">
            </div>
            <div class="form-group">
              <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
              <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} class="form-control">
            </div>
            <div class="form-group">
              <label for="Email">{{ 'customer.register.email' | t }}</label>
              <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" class="form-control">
            </div>
            <div class="form-control">
              <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
              <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" class="form-control">
            </div>
            <p class="text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button">
            </p>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
  

