<section data-section-id="{{ section.id }}" data-section-type="cart-template">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
            {% if cart.item_count > 0 %}
            <h1>{{ 'cart.general.title' | t }}</h1>
            <form action="/cart" method="post" novalidate class="cart">
              <ul class="cart-contents">
                {% for item in cart.items %}
                  <li>
                    <div class="item-img">
                      <a href="{{ item.url | within: collections.all }}">
                        <img class="img-fluid" src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                      </a>
                    </div>
                    <div class="item-title">
                      <a href="{{ item.url }}">
                        {{ item.product.title }}
                        {% if item.product.variants.size > 1 %}
                        <br><span class="variant_title">{{ item.variant.title | replace: '(bw)', '' | replace: '(sw)', '' | replace: '(mw)', '' }}</span>
                        {% endif %}
                      </a>
                    </div>
                    <div class="item-qty">
                      <label for="updates_{{ item.key }}" class="sr-only">{{ 'cart.label.quantity' | t }}</label>
                      <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                    </div>
                    <div class="item-remove">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><small>Remove</small></a>
                    </div>
                    <div class="item-price">
                      {{ item.price | money }}
                    </div>
                  </li>
                {% endfor %}
              </ul>

              <table class="table cart-table">
                <tfoot>
                  <tr>
                    <td colspan="3" class="text-center">
                      <input type="submit" name="update" class="button" value="{{ 'cart.general.update' | t }}">
                    </td>
                    <td colspan="2" class="text-right">
                      Subtotal:&nbsp;
                      <span class="cart__subtotal">{{ cart.total_price | money }}</span>
                      <div class="cart__shipping"><small>({{ 'cart.general.shipping_at_checkout' | t }})</small></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <footer>
                <div class="row">
                  <div class="col-md-6 cart-note">
                    <div class="content">
                      {% if section.settings.cart_notes_enable %}
                      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                      <textarea name="note">{{ cart.note }}</textarea>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="content">
                      <p>
                      <a href="/">{{ 'cart.general.continue_shopping' | t }}</a><br>
                      <small>or</small>
                    </p>
                      <input type="submit" name="checkout" class="button button-block" value="{{ 'cart.general.checkout' | t }}">
                    </div>  
                  </div>
                </div>
              </footer>
            </form>
            {% else %}
            <div class="empty-page-content text-center">
              <h1>{{ 'cart.general.title' | t }}</h1>
              <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
              <div class="cookie-message">
                <p>{{ 'cart.general.cookies_required' | t }}</p>
              </div>
              <a href="/" class="button">{{ 'general.404.link' | t }}</a>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
