
<section itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
  <div class="container">
    <div class="row product">
      <div class="col-md-6">
        <div class="content">
          {% if product.featured_image %}
          <img src="{{ product.featured_image }}" class="img-fluid" alt="{{ product.title }} image">
          {% else %}
          <img class="img-fluid" src="http://via.placeholder.com/500x500/000/fff?text=Placeholder+Image" alt="Card image cap">
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h2 class="mt-0">{{ product.title }} <span class="hide">{{ product.variants.first.title }}</span></h2>
          <span class="price">{{ product.price | money }}</span>
          <p>{{ product.description }}</p>
          <form action="/cart/add" method="post" enctype="multipart/form-data" data-section="{{ section.id }}">
            <div class="d-flex align-items-center flex-wrap">
              <div class="product-quantity mr-3">
                <label class="sr-only" for="Quantity">{{ products.product.quantity }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*" style="border: 1px solid #18374b; width: 75px;">
              </div>
              <div class="select mr-3">
                <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-quantity no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                      </option>
                    {% else %}
                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="button">
                Add to Cart
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <a href="/shop" class="back-button">Back to Shop</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2>Recipes Using Product Name</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-grid">
            {% for item in (1..4)%}
              <div class="card">
                <a href="#">
                  <img class="img-fluid" src="http://via.placeholder.com/500x500/000/fff?text=Placeholder+Image" alt="Card image cap">
                </a>
                
                <div class="card-body text-center">
                  <p class="lead"><a href="#">Name {{ forloop.index }}</a></p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% if product.variants.size > 1 %}
<script>

  // var variantImages = {},
  //   thumbnails,
  //   variant,
  //   variantImage,
  //   optionValue,
  //   productOptions = [];
  //   {% for variant in product.variants %}
  //      variant = {{ variant | json }};
  //      if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
  //        variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
  //        variantImages[variantImage] = variantImages[variantImage] || {};
  //        {% for option in product.options %}
         
  //          {% assign option_value = variant.options[forloop.index0] %}
  //          {% assign option_key = 'option-' | append: forloop.index0 %}
          
  //          if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
  //            variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
  //          }
  //          else {
  //            var oldValue = variantImages[variantImage][{{ option_key | json }}];
  //            if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
  //              variantImages[variantImage][{{ option_key | json }}] = null;
  //            }
  //          }
  //        {% endfor %}
  //      }
  //      productOptions.push(variant);
  //   {% endfor %}
             
  //   $(document).ready(function() {
  //     thumbnails = $('img[src*="/products/"]').not(':first');
  //     if (thumbnails.length) {

  //       thumbnails.bind('click', function() {
  //         var arrImage = $(this).attr('src').split('?')[0].split('.');
  //         var strExtention = arrImage.pop();
  //         var strRemaining = arrImage.pop().replace(/_[a-zA-Z0-9@]+$/,'');
  //         var strNewImage = arrImage.join('.')+"."+strRemaining+"_grande."+strExtention;
  //         if (typeof variantImages[strNewImage] !== 'undefined') {
  //             productOptions.forEach(function (value, i) {
  //              optionValue = variantImages[strNewImage]['option-'+i];
  //              if (optionValue !== null && $('.single-option-selector:eq('+i+') option').filter(function() { return $(this).text() === optionValue }).length) {
  //                $('.single-option-selector:eq('+i+')').val(optionValue).trigger('change');
  //              }
  //           });
  //         }
  //       });
  //     }
  //   });
</script> 
{% endif %}


