<section itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
  <div class="container">
    <div class="row product">
      <div class="col-md-6">
        <div class="content">
          {% if product.images.first %}
            {% if product.images.size > 1 %}
              <img src="{{ product.images[1].src | img_url: 'large' }}" class="img-fluid" alt="{{ product.title }} image">
            {% else %}
              <img src="{{ product.images.first.src | img_url: 'large' }}" class="img-fluid" alt="{{ product.title }} image">
            {% endif %}
          {% else %}
            <img class="img-fluid" src="http://via.placeholder.com/500x500/000/fff?text=Placeholder+Image" alt="Card image cap">
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="content">
          <h2 class="mt-0">{{ product.title }} <span class="hide">{{ product.variants.first.title }}</span></h2>
          <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
          <p>{{ product.description }}</p>
          <form action="/cart/add" method="post" enctype="multipart/form-data" data-section="{{ section.id }}">
            <div class="d-flex align-items-center flex-wrap">
              <div class="product-quantity mr-3">
                <label class="sr-only" for="Quantity">{{ products.product.quantity }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" pattern="[0-9]*" style="border: 1px solid #18374b; width: 75px;">
              </div>
              <div class="select mr-3">
                <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-select no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-price="{{ variant.price | money_without_trailing_zeros }}">
                        {{ variant.title }}
                      </option>
                    {% else %}
                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="button">
                Add to Cart
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <a href="/shop" class="back-button">Back to Shop</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 data-ref="product_recipes-heading">Recipes Using {{ product.title }}</h2>
          <p class="loading-recipes" style="display:none;">Loading...</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="content">
          <div class="card-grid" data-ref="product_recipes"></div>
        </div>
      </div>
    </div>
  </div>
</section>



